<!-- TO ENABLE SEARCH, run this command: rake searchkick:reindex CLASS=Userlogin -->
<p id="notice"><%= notice %></p>

<h1>Search Results AFTER the fuckup</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Classes</th>
      <th>Skills</th>
      <th>Aboutme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userlogins.each do |userlogin| %>
      <tr>
        <td><a href="../pages/User_Profile/<%= userlogin.id %>">Profile Link</a></td>
        <td><%= userlogin.email %></td>
        <td><%= userlogin.classes %></td>
        <td><%= userlogin.skills %></td>
        <td><%= userlogin.aboutMe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
