<!-- TO ENABLE SEARCH, run this command: rake searchkick:reindex CLASS=Userlogin
start search on ubuntu with command: sudo /etc/init.d/elasticsearch start -->

<head>
<script>
  $(document).ready(function() {
    $('input.sex_check').on('change', function(){
      $('input.sex_check').not(this).prop('checked', false);
    });
  });
</script>
<style>
  .searchResult:hover {
    background-color: #D6D6D6;
    color: red;
  }
</style>
</head>
<body style="background-color: #363636">
  <div style="margin:25px;">
    <div class="panel panel-default">
      <!-- Panel contents -->
      <div class="panel-heading" align="center" style="font-size:xx-large; background-color:#00A6DE; color: white; text-shadow: 2px 2px black">Search Results</div>
      <div class="panel-body" style="background-color:#575757; border:1">
        <p align="center" style="font-size: large; color:#00A6DE ">Find your the perfect tutor to match your schooling needs! Search above by class, name, email address, or skills!<br>
        It's time to get ahead of the workload. We are here to help!</p>
      </div>
      
      <div style="background-color: #575757; text-align:center; color:#00A6DE">
        <div style="border-style: solid; border-width: 5px; border-color: black; margin: 0px 20px 0px 20px">
          THIS IS GOING TO BE THE FILTER CONTAINER<br>
          You will be able to apply filters to narrow your search <br>
          <b>[] rating  [] age   [] gender   [] price</b><br>
          (what do we mean by class? You search via class...)
          <div class="filter">
            <%= form_tag search_userlogins_path, method: :get do %>
              <%= hidden_field_tag(:search, params[:search]) %>
              <%= label_tag :price %>
              <%= check_box_tag :sort, "price", params[:price], class: "sex_check"%>
              <%= label_tag :ratings %>
              <%= check_box_tag :sort, "rating", params[:ratings], class: "sex_check"%>
              <%= label_tag :male %>
              <%= check_box_tag :male, "Male", params[:male], class: "sex_check" %>
              <%= label_tag :female %>
              <%= check_box_tag :female, "Female", params[:female], class: "sex_check" %>
              <%= submit_tag "Search", name: nil%>
            <% end %>
          </div>
        </div>
      </div>

      <!-- This is here for spacing purposes -->
      <div style="height:3px"></div>

      <!-- 
      - Maybe create a message for if there are no tutors?
      - Maybe insert a send a message button? But maybe not, there is a message place on the profile page
      - the little notice thing needs to be removed from the top of the user profile page!!! I fixed this
      - Need to add age to the user profile page
      - Need to fix font size of the rating inside the star on the user profile page
      - try loading pictures...load a default picture
      - add first name last name to the signup page
      - edit the way we input price for the user profile
      -->
      <% @userlogins.each do |userlogin| %>
        <!-- A container for each search result -->
        <%# if userlogin.isTutor? %>
            <div class="container searchResult" style=" box-shadow: 0px 1px 6px black; margin-bottom: 6px">
              <a href="../pages/User_Profile/<%= userlogin.id %>">
                <div class="row">
                  <div class="col-xs-3" style="" align="center"> <img title="profile image" class="img-rounded img-responsive" style="min-height:20%" src="<%= userlogin.avatar.url(:medium) %>"></div>
                  <% if userlogin.first? %>
                    <div class="col-xs-9" style="font-size:x-large"><b><%= userlogin.first %> <%= userlogin.last %></b></div>
                  <% else %>
                    <div class="col-xs-9" style="font-size:x-large"><b>Name n/a</b></div>
                  <% end %>
                  <!--<div class="col-xs-4">&nbsp</div>-->
                  <div class="col-xs-9" style="font-size:large"><b><%= userlogin.email %></b></div>
                  <!--<div class="col-xs-4">&nbsp</div>-->
                  <div class="col-xs-3"><b>Gender:</b> <%= userlogin.gender %></div>
                  <div class="col-xs-3"><b>Age:</b><%= userlogin.calculate_age(userlogin.birthday) %></div>
                  <div class="col-xs-3"><b>Price:</b> <%= userlogin.price %></div>
                  <!--<div class="col-xs-4">&nbsp</div>-->
                  <div class="col-xs-9"><b>Classes:</b> <%= userlogin.classes %></div>
                  <!--<div class="col-xs-4">&nbsp</div>-->
                  <div class="col-xs-9"><b>Skills:</b> <%= userlogin.skills %></div>
                  <!--<div class="col-xs-4">&nbsp</div>-->
                  <div class="col-xs-9"><b>Bio:</b> <%= userlogin.aboutMe %></div>
                </div>
              </a>
            </div>
        <%# end %>
      <% end %>


      <hr style="border-color:#208AD6">


    </div>
  </div>
</body>



