<div class="container-fluid">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <p class = "notice"><%= notice %></p>
  <p class = "alert"><%= alert %></p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first %>
      <%= f.text_field :first, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last %>
      <%= f.text_field :last, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :gender %>
      <%= f.text_field :gender, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :is_Tutor %><br>
      <%= f.check_box :isTutor, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :is_Student %><br>
      <%= f.check_box :isStudent, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :recieveReminders %><br>
      <%= f.check_box :recieveReminders, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :profile_Picture_THIS_should_be_an_image %>
      <%= f.text_field :profilePicture, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_Recover_Question_1 %>
      <%= f.text_field :passwordRecoverQuestion1, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_Recover_Question_2 %>
      <%= f.text_field :passwordRecoverQuestion2, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_Recover_Answer_1 %><br />
      <%= f.text_field :passwordRecoverAnswer1, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_Recover_Answer_2 %><br />
      <%= f.text_field :passwordRecoverAnswer2, autocomplete: "off", class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :about_Me %><br />
      <%= f.text_field :aboutMe, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :favorite_Tutors %><br />
      <%= f.text_field :favoriteTutors, autocomplete: "off", class: "form-control" %>
    </div>

<% if current_userlogin.isTutor == true %>
    <div class="form-group">
      <%= f.label :classes %><br />
      <%= f.text_field :classes, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %><br />
      <%= f.text_field :price, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :skills %><br />
      <%= f.text_field :skills, autocomplete: "off", class: "form-control" %>
    </div>
<% end %>

    <div class="form-group">
      <%= f.label :birthday %>
      <div class ="row">
      <%= f.date_select :birthday, { :start_year => 1920, :end_year => 2015 },prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

  <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>


    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Back", :back %>
</div>