<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
        $('.birthday_selector').each(function(){
            $(this).select2({

              dropdownAutoWidth : true
            });
            
        });
        $('#gender_selector').select2({
          minimumResultsForSearch: Infinity,
          placeholder : "Select gender",
          dropdownAutoWidth : true
        });
        $('#course_selector').select2({
          placeholder : "Select class(es)",
          cache : true,
          delay : 250,
          dropdownAutoWidth : true,
          tokenSeparators: [','],
          minimumInputLength : 1
        });
        $('#skill_selector').select2({
          placeholder : "Select skill(s)",
          cache : true,
          delay : 250,
          dropdownAutoWidth : false,
          tokenSeparators: [','],
          minimumInputLength : 1
        });
        $("div").removeClass("invisible");

            if ($('textarea').length > 0) {
                var data = $('textarea');
                $.each(data, function(i) {
                    CKEDITOR.replace(data[i].id);
                });
            }
    });
  </script>

  <style>
    input[type=checkbox] {
      visibility: hidden;
    }
    .button_to {
      display: inline;
    }
    .button_to div {
      display: inline;
    }
    .invisible{
      visibility: hidden;
    }
    #namediv{
        padding-top: 20px;
    }
    .checkboxThree {
      width: 120px;
      height: 40px;
      background: #333;

      border-radius: 50px;
      position: relative;
    }
    /**
     * Create the text for the On position
     */
    .checkboxThree:before {
      content: 'Tutor';
      position: absolute;
      top: 12px;
      left: 13px;
      height: 2px;
      color: #42dc46;
      font-size: 12px;
    }
    /**
     * Create the label for the off position
     */
    .checkboxThree:after {
      content: 'Student';
      position: absolute;
      top: 12px;
      left: 69px;
      height: 2px;
      color: #8583e8;
      font-size: 12px;
    }

        /**
     * Create the pill to click
     */
    .checkboxThree label {
      display: inline;
      width: 52px;
      height: 22px;
      border-radius: 50px;

      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: 9px;
      z-index: 1;
      left: 12px;
      background: #8583e8;
    }

    /**
     * Create the checkbox event for the label
     */
    .checkboxThree input[type=checkbox]:checked + label {
      left: 60px;
      background: #42dc46;
    }

    #update{
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
<div class="container target">
    <div class="row">
        <div class="col-sm-6 col-xs-5">
            <div id="namediv">
              <%= f.label :First,"First Name:", class: "pull-left" %>
              <%= f.text_field :first, autocomplete: "off", class: "form-control name" %>
              <%= f.label :Last, "Last Name:", class: "pull-left" %>
              <%= f.text_field :last, autocomplete: "off", class: "form-control name" %>
            </div>
            <section>

              <h2 style="padding-top:5px;padding-left:13px;"><a data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Becoming a tutor allows you to edit your profile and be visible to students.">Tutor? <span class="glyphicon glyphicon-info-sign"></span></a></h2>
              
                <div class="checkboxThree">
                  <%= f.check_box :isTutor, autocomplete: "off", style: "width:100%;", id: "checkboxThreeInput" %>
                  <label for="checkboxThreeInput"></label>
                </div>
            </section>
        </div>
        <div class="col-sm-2">
        </div> 
        <div class="col-sm-4 col-xs-5">
          <img title="profile image" class="img-rounded img-responsive pull-left" src="<%= current_userlogin.avatar.url(:medium) %>">
          <br>
          <div>
           <%= f.file_field :avatar %>
          </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-5 col-md-4 ">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false"><h3>Profile</h3></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= current_userlogin.created_at.strftime("%F") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= current_userlogin.last_sign_in_at.strftime("%F") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender</strong></span>
                  <%= f.select(:gender, ["Male","Female","Other"], {}, { class: "invisible", multiple: false , id: "gender_selector"})%></li>
                <li class="list-group-item"><span><p style="display:block;"><strong>Birthday</strong></p></span><%= f.date_select :birthday, { :start_year => 1920, :end_year => 2015 },{class: "birthday_selector invisible", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }}%></li>
            </ul>
             <div class="panel panel-default">
               <div class="panel-heading">Pricing ($/hr)</div>
               <div class="panel-body invisible">
                <%= f.text_field :price, placeholder: 'Enter just a number (ex. 20, 30, 45, etc...)', autocomplete: "off", class: "form-control" %>
               </div>
             </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Email</h4></div>
                <div class="panel-body">
                    <%= f.email_field :email, autofocus: false, class: "form-control" %>
                </div>
            </div>
          </div>

        <!--/col-3-->
        <div class="col-sm-7 col-md-8" style="" contenteditable="false">
             <div class="panel panel-default hidden-xs" >
                <div class="panel-body">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                  <div class="actions">
                    <%= f.submit "Update Profile", class: "btn btn-primary", style: "margin-top: 10px;" %>
                  </div>
                </div>
              </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3>About Me</h3></div>
                  <div class="invisible" >
                    <%= f.text_area :aboutMe, :class => 'ckeditor' %>
                  </div>
            </div>

              <div class="row">
                <div class="col-sm-12" style="" contenteditable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>My Skills</h3></div>
                        <% selectedSkills = current_userlogin.parse_database_tags(current_userlogin.skills) %>
                        <div class="panel-body invisible">
                          <%= f.select(:skills, Skill.all.collect {|p| [p.skillCol] }, {:selected => selectedSkills}, { style: "width: 100%;" ,multiple: true , id: "skill_selector"})%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="" contenteditable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Classes I Know</h3></div>
                        <% selectedClasses = current_userlogin.parse_database_tags(current_userlogin.classes) %>
                        <div class="panel-body invisible"><%= f.select(:classes, Course.all.collect {|p| [p.subject + " " + p.course_Num] }, {:selected => selectedClasses}, { style: "width: 100%", multiple: true , id: "course_selector"})%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" contenteditable="false">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Change password</h3></div>
                      <div class="panel-body">
                        <%= f.label :password, "New Password"%><br/>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                         <%= f.label :password_confirmation, "Retype New Password" %><br/>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                      </div>
                    </div>
                </div>
                <div class="col-lg-12">
                  <div class="panel panel-default visible-xs" >
                    <div class="panel-body">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                      <div class="actions">
                        <%= f.submit "Update Profile", class: "btn btn-primary", style: "margin-top: 10px;" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
      </div>
      <% end %>