<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @userprofile.email %>
</p>

<p>
  <strong>Istutor:</strong>
  <%= @userprofile.isTutor %>
</p>

<p>
  <strong>Isstudent:</strong>
  <%= @userprofile.isStudent %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @userprofile.aboutMe %>
</p>

<p>
	<strong>First Name:</strong>
	<%= @userprofile.first %>
</p>

<p>
	<strong>Last Name:</strong>
	<%= @userprofile.last %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @userprofile.gender %>
</p>

<p>
	<strong>Classes:</strong>
	<%= @userprofile.classes %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @userprofile.skills %>
</p>

<p>
	<strong>Prices:</strong>
	<%= @userprofile.price %>
</p>

<p>
	<strong>Ratings:</strong>
  		<div>
    		<%= imdb_style_rating_for @userprofile, current_userlogin%>
  		</div>
  		<br>
    		<% if current_userlogin %>
        <div class="container">
          <div class = "row">
            <div class="col-sm-3">
        			Clarity: <%= rating_for @userprofile, "clarity", disable_after_rate: true, 
        				imdb_avg: true,
        				enable_half: true, 
        				cancel_hint: 'Cancel this vote!' %>
        			
            </div>
            <div class="col-sm-9" style="display: inline-block; vertical-align: middle; float: none;">
              <p class="lead"> Clarity: How well was your tutor able to relay information? </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-sm-3">
        			Knowledge: <%= rating_for @userprofile, "knowledge",
        				disable_after_rate: true, 
        				imdb_avg: true,
        				enable_half: true, 
        				cancel_hint: 'Cancel this vote!' %>
        			
            </div>
            <div class="col-sm-9">
                <p class="lead"> Knowledge: How well did your tutor know the information? </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-sm-3">
        			Politeness: <%= rating_for @userprofile, "politeness", disable_after_rate: true, 
        				imdb_avg: true,
        				enable_half: true, 
        				cancel_hint: 'Cancel this vote!' %>
        			
            </div>
            <div class="col-sm-9">
                <p class="lead"> Politeness: How well did the tutor treat you? </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-sm-3">
        			Flexibility: <%= rating_for @userprofile, "flexibility", disable_after_rate: true,
        				imdb_avg: true, 
        				enable_half: true,
        				cancel_hint: 'Cancel this vote!' %>
            </div>
            <div class="col-sm-9">
                <p class="lead"> Flexibility: How well was your tutor able to work around your schedule? </p>
            </div>
          </div>
        </div>
    		<% end %>

</p>

  <p>
    <strong>Reviews:</strong>
      <% @rev.each do |r| %>
        <%= r[:review] %>
      <% end %>
  </p>
</div>

