<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @userprofile.email %>
</p>

<p>
  <strong>Istutor:</strong>
  <%= @userprofile.isTutor %>
</p>

<p>
  <strong>Isstudent:</strong>
  <%= @userprofile.isStudent %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @userprofile.aboutMe %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @userprofile.gender %>
</p>

<p>
	<strong>Classes:</strong>
	<%= @userprofile.classes %>
</p>

<p>
	<string>Prices:</strong>
	<%= @userprofile.price %>
</p>

<p>
	<string>Ratings:</strong>
	<div class="row">
  		<div class="small-2 large-2 columns">
    		<%= imdb_style_rating_for @userprofile, current_userlogin%>
  		</div>
  		<br>
  		<div style="margin-left: 100px" class="small-2 large-4 columns">
    		<% if current_userlogin %>
    			RIP: <%= rating_for_user @userprofile, current_userlogin, "RIP" %>
      			Overall: <%= rating_for @userprofile, "overall", disable_after_rate: true,
      				imdb_avg: true, 
      				enable_half: true, 
      				cancel_hint: 'Cancel this vote!'%>
      			<br>
      			Clarity: <%= rating_for @userprofile, "clarity", disable_after_rate: true, 
      				imdb_avg: true,
      				enable_half: true, 
      				cancel_hint: 'Cancel this vote!' %>
      			<br>
      			Knowledge: <%= rating_for @userprofile, "knowledge",
      				disable_after_rate: true, 
      				imdb_avg: true,
      				enable_half: true, 
      				cancel_hint: 'Cancel this vote!' %>
      			<br>
      			Politeness: <%= rating_for @userprofile, "politeness", disable_after_rate: true, 
      				imdb_avg: true,
      				enable_half: true, 
      				cancel_hint: 'Cancel this vote!' %>
      			<br>
      			Flexibility: <%= rating_for @userprofile, "flexibility", disable_after_rate: true,
      				imdb_avg: true, 
      				enable_half: true,
      				cancel_hint: 'Cancel this vote!' %>
    		<% end %>
  		</div>
	</div>

</p>

<p>
	<string>Reviews:</strong>
	<%= @userprofile.reviews %>
</p>

<p>
	<string>Skills:</strong>
	<%= @userprofile.skills %>
</p>

<p>
	<string>Birthday:</strong>
	<%= @userprofile.birthday %>
</p>

