<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @userlogins.email %>
</p>

<p>
  <strong>Istutor:</strong>
  <%= @userlogins.isTutor %>
</p>

<p>
  <strong>Isstudent:</strong>
  <%= @userlogins.isStudent %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @userlogins.aboutMe %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @userlogins.gender %>
</p>

<p>
	<strong>Classes:</strong>
	<%= @userlogins.classes %>
</p>

<p>
	<string>Prices:</strong>
	<%= @userlogins.price %>
</p>

<p>
	<string>Ratings:</strong>
	<%= @userlogins.ratings %>
</p>

<p>
	<string>Reviews:</strong>
	<%= @userlogins.reviews %>
</p>

<p>
	<string>Skills:</strong>
	<%= @userlogins.skills %>
</p>

<p>
	<string>Birthday:</strong>
	<%= @userlogins.birthday %>
</p>

