<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <p>
        <strong>Email:</strong>
        <%= @userprofile.email %>
      </p>

      <p>
        <strong>Istutor:</strong>
        <%= @userprofile.isTutor %>
      </p>

      <p>
        <strong>Isstudent:</strong>
        <%= @userprofile.isStudent %>
      </p>

      <p>
        <strong>Aboutme:</strong>
        <%= @userprofile.aboutMe %>
      </p>

      <p>
      	<strong>First Name:</strong>
      	<%= @userprofile.first %>
      </p>

      <p>
      	<strong>Last Name:</strong>
      	<%= @userprofile.last %>
      </p>

      <p>
      	<strong>Gender:</strong>
      	<%= @userprofile.gender %>
      </p>

<% if @userprofile.isTutor %>

      <p>
      	<strong>Classes:</strong>
      	<%= @userprofile.classes %>
      </p>

      <p>
        <strong>Skills:</strong>
        <%= @userprofile.skills %>
      </p>

      <p>
      	<strong>Prices:</strong>
      	<%= @userprofile.price %>
      </p>

      <p>
      	<strong>Ratings:</strong>
      </p>
    </div>
  <% end %>


    <div class="col-xs-6">
        <%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
        <div class="form-group">
          <%= f.label :recipients %>
          <%= f.text_field :recipients, :readonly => true , :value =>  @userprofile.email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :subject %>
          <%= f.text_field :subject, placeholder: "I'd like you to tutor me!", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_area :body, class: 'form-control',placeholder: "I need help with this class, this class, and this class. When would you be free to help?", rows: 4  %>
        </div>
        <%= f.submit "Send Message", class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  		<div class="row">
        <div class="col-xs-0 center-block">
        </div>
        <div class="col-xs-2">
          <%= imdb_style_rating_for @userprofile, current_userlogin%>
        </div>
  		</div>
</div>

<% if @userprofile.isTutor %>


    		<% if current_userlogin %>
        <div class="container">
          <div class = "row">
            <div class="col-sm-3">
        			Clarity: <%= rating_for @userprofile, "clarity", disable_after_rate: true, 
        				imdb_avg: true,
        				enable_half: true, 
        				cancel_hint: 'Cancel this vote!' %>
        			
            </div>
            <div class="col-sm-9" style="display: inline-block; vertical-align: middle; float: none;">
              <p class="lead"> Clarity: How well was your tutor able to relay information? </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-sm-3">
        			Knowledge: <%= rating_for @userprofile, "knowledge",
        				disable_after_rate: true, 
        				imdb_avg: true,
        				enable_half: true, 
        				cancel_hint: 'Cancel this vote!' %>
        			
            </div>
            <div class="col-sm-9">
                <p class="lead"> Knowledge: How well did your tutor know the information? </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-sm-3">
        			Politeness: <%= rating_for @userprofile, "politeness", disable_after_rate: true, 
        				imdb_avg: true,
        				enable_half: true, 
        				cancel_hint: 'Cancel this vote!' %>
        			
            </div>
            <div class="col-sm-9">
                <p class="lead"> Politeness: How well did the tutor treat you? </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-sm-3">
        			Flexibility: <%= rating_for @userprofile, "flexibility", disable_after_rate: true,
        				imdb_avg: true, 
        				enable_half: true,
        				cancel_hint: 'Cancel this vote!' %>
            </div>
            <div class="col-sm-9">
                <p class="lead"> Flexibility: How well was your tutor able to work around your schedule? </p>
            </div>
          </div>
        </div>
    		<% end %>





  <p>
    <strong>Reviews:</strong>
      <% @rev.each do |r| %>
        <%= r[:review] %>
      <% end %>
  </p>

<% end %>

</div>

