<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

  <script>
  var aboutMe = "";
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
        $("#selector").select2();
        about_me = document.getElementById("about_me").getAttribute("data-about-me");
        if(about_me != "" && about_me != null){
          document.getElementById("about_me").innerHTML = about_me;
        }
    });
    $('#messageModal').on('shown.bs.modal', function () {
      $('#messageModal').focus()
    });
  </script>

  <style>
    .button_to {
      display: inline;
    }
    .button_to div {
      display: inline;
    }
  </style>

<% if @userprofile.isTutor? %>
<div class="container target">
    <div class="row">
        <div class="col-sm-6 col-xs-5">
             <h1 style="text-transform:capitalize;" class=""><%= @userprofile.first %> <%= @userprofile.last %></h1>
            <% if current_userlogin.present? then %>
              <% if @userprofile != current_userlogin then %>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#messageModal">Send me a message</button>
                <%- unless current_userlogin.favorite_userlogins.exists?(id: @userprofile.id) -%>
                <%= button_to 'Favorite Tutor', favorite_userlogins_path(userlogin_id: @userprofile.id), class: "btn btn-success", method: :post %>
                <%- else -%>
                <%= button_to 'Unfavorite', favorite_userlogin_path(id: @userprofile.id), class: "btn btn-success", method: :delete %>
                <%- end -%>
              <%- end -%>
            <% end %>
        </div>
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-4 col-xs-5"><img title="profile image" class="img-rounded img-responsive pull-right" src="<%= @userprofile.avatar.url(:medium) %>">
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 col-md-4 ">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false" style="background-color:#F0F0F0; color: black">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= @userprofile.created_at.strftime("%D") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= @userprofile.last_sign_in_at.strftime("%D") %></li>

                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender</strong></span><% if @userprofile.gender.blank? %>Not given<% end %>
                  <%= @userprofile.gender %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age </strong></span><% if @userprofile.calculate_age(@userprofile.birthday) == 0%> Not given <% else %><%= @userprofile.calculate_age(@userprofile.birthday) %><% end %></li>
            </ul>

             <div class="panel panel-default">
               <div class="panel-heading">Pricing</div>
               <div class="panel-body"><% if @userprofile.price.blank? %>Not provided<%else%>$<%= @userprofile.price %><%end%></div>
             </div>

            <div class="panel panel-default">
                <div class="panel-heading">Email</div>
                <div class="panel-body"><a href="mailto:<%= @userprofile.email %>" class=""><%= @userprofile.email %></a></div>
            </div>
          
            <% if @userprofile.isTutor? %>
            <% @userprofile.update_column(:ratings, @userprofile.average_rate) %>

            <% @userprofile.update_column(:age, @userprofile.calculate_age(@userprofile.birthday)) %>
            <% if @userprofile != current_userlogin then %>
              <ul class="list-group">

                  <li class="list-group-item text-muted">Ratings</li>
                  
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Clarity" data-content="How well was your tutor able to relay information?"><strong class="">Clarity </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>
                    
                    <%= rating_for @userprofile, "clarity", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>

                  </li>
                  
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Knowledge" data-content="How well did your tutor know the information?"><strong class="">Knowledge </strong><span class="glyphicon glyphicon-info-sign"></span></a></span> 

                    <%= rating_for @userprofile, "knowledge", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                  </li>
                  
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Politeness" data-content="How well did the tutor treat you?"><strong class="">Politeness </strong><span class="glyphicon glyphicon-info-sign"> </span></a></span>

                    <%= rating_for @userprofile, "politeness", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                  </li>
                  
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Flexibility" data-content="How well was your tutor able to work around your schedule?"><strong class="">Flexibility </strong><span class="glyphicon glyphicon-info-sign"></span></a></span> 

                    <%= rating_for @userprofile, "flexibility", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                  </li>
              
              </ul>
              <% else %>
                <ul class="list-group">
                  <li class="list-group-item text-muted">Ratings</li>
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Clarity" data-content="How well was your tutor able to relay information?"><strong class="">Clarity </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>

                    <div style="pointer-events: none;">                    
                    <%= rating_for @userprofile, "clarity", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                    </div>
                  </li>
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Knowledge" data-content="How well did your tutor know the information?"><strong class="">Knowledge </strong><span class="glyphicon glyphicon-info-sign"></span></a></span> 
                    <div style="pointer-events: none;">
                    <%= rating_for @userprofile, "knowledge", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                    </div>
                  </li>
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Politeness" data-content="How well did the tutor treat you?"><strong class="">Politeness </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>
                    <div style="pointer-events: none;">
                    <%= rating_for @userprofile, "politeness", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                    </div>
                  </li>
                  <li class="list-group-item text-right"><span class="pull-left"><a data-toggle="popover" data-trigger="hover" title="Flexibility" data-content="How well was your tutor able to work around your schedule?"><strong class="">Flexibility </strong><span class="glyphicon glyphicon-info-sign"></span></a></span>
                    <div style="pointer-events: none;">
                    <%= rating_for @userprofile, "flexibility", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>
                    </div>
                  </li>
              </ul>
              <% end %>
          </div>
        <% end %>

        <!--/col-3-->
        <div class="col-sm-8 col-md-8" style="" contenteditable="false">
            <div class="panel panel-default">

                <div class="panel-heading">About Me!</div>

                <div class="panel-body" id="about_me" data-about-me="<%=@userprofile.aboutMe%>"><% if @userprofile.aboutMe.blank? %>Who am i?? If you'd like to know more, send me a message!<% end %></div>
            </div>

            <% if @userprofile.isTutor? %>
              <div class="row">
                <div class="col-sm-6" style="" contenteditable="false" style="height:100%;">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Skills</div>
                        <div class="panel-body" style="width:100%;"><% if @userprofile.skills.blank? %>I swear I have mad skills. If you'd like to know more, send me a message!<% end %>
                        <% skilz = @userprofile.parse_database_tags(@userprofile.skills) %>
                        <% skilz.each do |s|%>
                          <% if !s.blank? %>
                            <%= form_tag(search_userlogins_path, method: "get", style: "display: inline") do %>
                              <%= hidden_field_tag(:search, s)%>
                              <%= submit_tag s, class: "btn btn-primary", style: "margin-bottom: 3px; margin-top: 2px" %>
                            <%end%>
                          <% end %>
                        <%end%>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="" contenteditable="false">
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading">Classes I Know</div>
                        <div class="panel-body" style="height:100%"><% if @userprofile.classes != "[""]" %>School is for chumps. If you'd like to know more, send me a message!<% end %>
                        <% course = @userprofile.parse_database_tags(@userprofile.classes) %>
                        <% course.each do |s|%>
                          <% if !s.blank? %>
                            
                            <%= form_tag(search_userlogins_path, method: "get", style: "display: inline") do %>
                              <%= hidden_field_tag(:search, s)%>
                              <%= submit_tag s, class: "btn btn-primary", style: "margin-bottom: 3px; margin-top: 2px"%>
                            <%end%>
                          
                          <% end %>                        
                          <%end%>
                          </div>

                    </div>
                </div>
              </div>
             <div class="panel panel-default">
                  <div class="panel-heading">Reviews</div>
                  <div class="panel-body">

                    <% if @userreviews.blank? %>
                      <h2 class="text-center"> <strong>No reviews yet</strong><small><br> Be the first to write a review below! </small> </h2>
                    <% end %>

                    <% @userreviews.each do |r| %>
                      <div style=" box-shadow: 0px 1px 6px black; margin-bottom: 6px; margin-top: 10px; border: 0px solid black; border-radius:10px">
                        <div class="row">
                      
                          <div class="col-md-12">
                            <div class="text-center" >
                              <h4>
                                <%= r.name %> <br/>                            
                                <small><%= r.created_at.strftime("%D") %></small>
                             </h4>

                            </div>
                            <p style="padding-left:20px; padding-right:20px;"><%= r.body %></p> 

                          </div>
                      

                        </div>
                      </div>
                    <% end %>
                  </div>
            </div>

              <% if current_userlogin != @userprofile then %>
                <div class="panel panel-default target">
                  <div class="panel-heading" contenteditable="false">Write a Review</div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                         <%= render 'userreviews/form' %>
                      </div> 
                  </div> 
                </div>    
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- MODAL -->
      <div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title">Send <% if @userprofile.first.blank? && @userprofile.last.blank?%>Nicolas Cage<% end %><%= @userprofile.first %> <%= @userprofile.last %> a message</h2>
            </div>

            <div class="modal-body">
              <%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>    
                <div class="form-group"  style="display: none;">   
                  <%= f.label :recipient %>   
                  <%= f.select(:recipients, Userlogin.all.collect {|p| [ p.email , p.id ] }, {:selected => [@userprofile.email, @userprofile.id]}, { multiple: true , id: "selector"})%>  

                </div>
                <div class="form-group">   
                  <%= f.label :subject %>    
                  <%= f.text_field :subject, placeholder: "I'd like you to tutor me!", class: "form-control" %>    
                </div>   
                <div class="form-group">   
                  <%= f.label :message %>    
                  <%= f.text_area :body, class: 'form-control',placeholder: "I need help with this class, this class, and this class. When would you be free to help?", rows: 4  %>    
                </div>   
                <%= f.submit "Send Message", class: "btn btn-success" %>   
              <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
<% else %>
  <%=redTo404 %>
<% end %>
