<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
    });
  </script>
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 style="text-transform:capitalize;" class=""><% if @userprofile.first.blank? && @userprofile.last.blank?%>Nicolas Cage<% end %><%= @userprofile.first %> <%= @userprofile.last %></h1>
             <button type="button" class="btn btn-info">Send me a message</button>
        </div>

        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://sports-images.vice.com/images/articles/meta/2015/01/14/untitled-article-1421274130.png?crop=1xw:0.8158640226628895xh;0xw,0.1671388101983003xh&resize=900:*&output-quality=75"></a>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> 2.13.2014</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender</strong></span><% if @userprofile.gender.blank? %>Not given<% end %>
                  <%= @userprofile.gender %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age </strong></span><% if @userprofile.birthday.blank? %>Infinity<% end %><%= @userprofile.calculate_age(@userprofile.birthday) %></li>
            </ul>

            <% if @userprofile.isTutor? %>
             <div class="panel panel-default">
               <div class="panel-heading">Pricing</div>
               <div class="panel-body"><% if @userprofile.price.blank? %>Not provided<% end %><%= @userprofile.price %></div>
             </div>
            <% end %>

            <div class="panel panel-default">
                <div class="panel-heading">Email</div>
                <div class="panel-body"><a href="mailto:<%= @userprofile.email %>" class=""><%= @userprofile.email %></a></div>
            </div>
          
            <% if @userprofile.isTutor? %>
              <ul class="list-group" style="pointer-events: none">
                  <li class="list-group-item text-muted">Ratings</li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong class="">Clarity </strong><span class="glyphicon glyphicon-info-sign"></span></span>
                    
                    <%= rating_for @userprofile, "clarity", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %>

                  </li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong class="">Knowledge </strong><span class="glyphicon glyphicon-info-sign"></span></span> 

                    <%= rating_for @userprofile, "knowledge", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %></li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong class="">Politeness </strong><span class="glyphicon glyphicon-info-sign"></span></span> 

                    <%= rating_for @userprofile, "politeness", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %></li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong class="">Flexibility </strong><span class="glyphicon glyphicon-info-sign"></span></span> 

                    <%= rating_for @userprofile, "flexibility", disable_after_rate: false, 
                    imdb_avg: true,
                    cancel_off: "blank.jpg",
                    cancel_on: "blank.jpg" %></li>
              </ul>
          </div>
        <% end %>

        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">About Me!</div>
                <div class="panel-body"><% if @userprofile.aboutMe.blank? %>Who am i?? If you'd like to know more, send me a message!<% end %><%= @userprofile.aboutMe %></div>
            </div>

            <% if @userprofile.isTutor? %>
              <div class="row">
                <div class="col-sm-6" style="" contenteditable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Skills</div>
                        <div class="panel-body"><% if @userprofile.skills.blank? %>I swear I have mad skills. If you'd like to know more, send me a message!<% end %><%= @userprofile.skills %></div>
                    </div>
                </div>
                <div class="col-sm-6" style="" contenteditable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading">Classes I Know</div>
                        <div class="panel-body"><% if @userprofile.classes.blank? %>School is for chumps. If you'd like to know more, send me a message!<% end %><%= @userprofile.classes %></div>
                    </div>
                </div>
              </div>
             <div class="panel panel-default">
                  <div class="panel-heading">Reviews</div>
                  <div class="panel-body">

                    <% if @userreviews.blank? %>
                      <h2> <strong>No reviews yet</strong><small><br> Be the first to write a review below! </small> </h2>
                    <% end %>

                    <% @userreviews.each do |r| %>
                      <div class="row">
                        <div class="col-md-12">
                          <strong><%= r.name %></strong>
                          <br/>
                          <p><%= r.body %></p> 
                          <p><%= link_to 'Delete', userreview_path(r), method: :delete, data: { confirm: 'Are you sure?' } %></p>
                        </div>
                      </div>
                    <% end %>
                  </div>
            </div>
                <div class="panel panel-default target">
                  <div class="panel-heading" contenteditable="false">Write a Review</div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                         <%= render 'userreviews/form' %>
                      </div> 
                  </div> 
                </div>    
              </div>
            </div>
          </div>
        <% end %>

      </div>
