<%= form_for(@userreview) do |f| %>
  <% if @userreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userreview.errors.count, "error") %> prohibited this userreview from being saved:</h2>

      <ul>
      <% @userreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <%= f.hidden_field :userprofile_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
